title {
 display: center
}

.special-box div {
  background: white;
  border-radius: 30px;
  width: 100px;
  height: 100px;
}

.portfolio-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 10px;
  background-color: #a1beb4;
  border-radius: 20px;
}

.pgrids {
 border: 2px solid black;
 border-radius: 20px;
 padding: 40px
}

.pgrid-1 {
  align-self: center;
  justify-self: center;
}

.pgrid-2 {
  align-self: center;
  justify-self: center;
}

.pgrid-3 {
  align-self: center;
  justify-self: center;
}

.pgrid-4 {
  align-self: center;
  justify-self: center;
}